@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

$bg_color: #161515;
$text-color: #d1cdcc;
$font-title: "Crimson Text";
$second_color: rgba(255, 0, 0, 0.336);
$third_color: #0dffdb50;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  font-family: "Times New Roman", Cambria, Cochin, Georgia, Times, serif;
  scroll-behavior: smooth;
  &::selection {
    background: rgba(150, 0, 0, 0.336);
    color: $bg_color;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: $bg_color;
  color: $text-color;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

.cursor {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 10;
  top: 0%;
  background: transparent;
  opacity: 0.9;
  border-radius: 100%;
  pointer-events: none;
  transition: 0.2s linear;
  backdrop-filter: invert(80%);
  // backdrop-filter: invert(0.8);
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: black;
    color: rgb(158, 0, 0);

    font-family: $font-title;
    font-style: italic;
  }
}
.langue {
  position: fixed;
  right: 2.5vw;
  top: 2.5vh;
  z-index: 10;
  span {
    font-size: 1.3em;
    letter-spacing: 4px;
    font-family: $font-title;
    // background: transparent;
    transition: 0.3s;
    opacity: 0.3;
    // &:hover {
    // color: rgb(158, 0, 0);
    // }
  }
  span.active_langue {
    opacity: 1;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: -10%;
      bottom: 10%;
      width: 100%;
      height: 20%;
      background-color: $second_color;
    }
  }
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: $bg_color;
}

::-webkit-scrollbar-thumb {
  background: $text-color;
}

::-webkit-scrollbar-thumb:hover {
  background: #dbcba9;
}
.home {
  background: $bg_color;
}
//! intro animation F
.intro_anim {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $bg_color;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: intro_anim 1s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
  svg {
    animation: svg_intro_anim 1s;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
    path {
      animation: svg 10s;
      transition: 0.5s;
      animation-fill-mode: backwards;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes svg {
  from {
    stroke-dasharray: 2030px;
    stroke-dashoffset: 2030px;
  }
  to {
    // stroke-dasharray: 0px;
    stroke-dashoffset: 0px;
  }
}
@keyframes intro_anim {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes svg_intro_anim {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
// //! background
// .bg_div {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   transform: translateY(-15%);
//   z-index: -9;
//   // background-image: repeating-linear-gradient(
//   //     358deg,
//   //     rgb(0, 0, 0) 0px,
//   //     rgb(0, 0, 0) 27px,
//   //     transparent 27px,
//   //     transparent 29px
//   //   ),
//   //   repeating-linear-gradient(
//   //     280deg,
//   //     rgb(0, 0, 0) 0px,
//   //     rgb(0, 0, 0) 27px,
//   //     transparent 27px,
//   //     transparent 29px
//   //   ),
//   //   repeating-linear-gradient(
//   //     337deg,
//   //     rgb(0, 0, 0) 0px,
//   //     rgb(0, 0, 0) 27px,
//   //     transparent 27px,
//   //     transparent 29px
//   //   ),
//   //   linear-gradient(90deg, rgb(225, 16, 162), rgb(169, 105, 71));
//   // background-image: radial-gradient(
//   //     circle at 7% 60%,
//   //     rgba(113, 25, 25, 0.03) 0%,
//   //     rgba(113, 25, 25, 0.03) 44%,
//   //     transparent 44%,
//   //     transparent 100%
//   //   ),
//   //   radial-gradient(
//   //     circle at 66% 79%,
//   //     rgba(113, 25, 25, 0.03) 0%,
//   //     rgba(113, 25, 25, 0.03) 31%,
//   //     transparent 31%,
//   //     transparent 100%
//   //   ),
//   //   radial-gradient(
//   //     circle at 25% 6%,
//   //     rgba(113, 25, 25, 0.03) 0%,
//   //     rgba(113, 25, 25, 0.03) 44%,
//   //     transparent 44%,
//   //     transparent 100%
//   //   ),
//   //   radial-gradient(
//   //     circle at 18% 89%,
//   //     rgba(113, 25, 25, 0.03) 0%,
//   //     rgba(113, 25, 25, 0.03) 37%,
//   //     transparent 37%,
//   //     transparent 100%
//   //   ),
//   //   radial-gradient(
//   //     circle at 33% 2%,
//   //     rgba(113, 25, 25, 0.03) 0%,
//   //     rgba(113, 25, 25, 0.03) 73%,
//   //     transparent 73%,
//   //     transparent 100%
//   //   ),
//   //   linear-gradient(0deg, rgb(22, 21, 21), rgb(22, 21, 21));
// }

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  // margin-top: 15vh;
  padding-top: 15vh;
  .container {
    // width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .nav_contain {
      width: 100%;
      text-align: center;
      font-size: 7em;
      overflow: hidden;
      @media (max-width: 500px) {
        font-size: 15vw;
      }
      div {
        // animation: text 1.5s;
        overflow: hidden;
        span {
          margin: 10px;
          font-family: "Times New Roman", Cambria, Cochin, Georgia, Times, serif;
          display: inline-block;
          // animation: text 1.5s;
          // animation-delay: 0;
        }
      }
    }
    h1 {
      font-size: 3.5em;
      font-style: italic;
      animation: appear 3s;
      font-family: "Times New Roman", Cambria, Cochin, Georgia, Times, serif;
      position: relative;
      // &:after {
      //   content: "";
      //   position: absolute;
      //   left: 0%;
      //   bottom: 10%;
      //   width: 100%;
      //   height: 20%;
      //   background-color: $second_color;
      //   // z-index: -1;
      // }
      @media (max-width: 500px) {
        font-size: 10vw;
      }
    }
  }
}
// @for $i from 1 through 7 {
//   .span-#{$i} {
//     // animation-delay: $i;
//     // animation: text 1s 0.1s * $i;
//     // animation: text + $i 0.5+ (1s * $i)/4;
//     animation: text + $i 1.7s;
//   }
// }
@for $i from 1 through 7 {
  .span-#{$i} {
    // animation-delay: $i;
    // animation: text 1s 0.1s * $i;
    // animation: text + $i 0.5+ (1s * $i)/4;
    animation: text 1.7s;
    animation-fill-mode: backwards;
    animation-delay: 0.2s * $i;
  }
}
@keyframes text {
  0% {
    transform: translateY(100%);
  }
  30% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  60% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

//! biographie
.biographie {
  width: 100vw;
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .image {
    width: 30vw;
    width: 450px;
    background: $text-color;
    overflow: hidden;
    img {
      width: 100%;
      transition: scale 0.1s;
      z-index: 2;
      transform: scale(1.02);
      transition: 0.3s ease-out;

      filter: grayscale(100%);
    }
  }
  .paragraphe {
    margin-top: 10vh;
    width: 50vw;
    width: 700px;
    text-align: center;
    @media (max-width: 800px) {
      width: 85%;
    }

    p {
      font-size: 2vw;
      font-size: 1.9em;
      line-height: 140%;
      letter-spacing: 1px;
      text-align: center;
      @media (max-width: 550px) {
        font-size: 1.5em;
      }
      @media (max-width: 420px) {
        font-size: 1.2em;
      }
    }
    a {
      display: block;
      font-style: italic;
      margin-left: 70%;
      @media (max-width: 500px) {
        margin-left: 50%;
      }
      span {
        position: relative;
        font-size: 2em;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 20%;
          background-color: $second_color;
          left: 0;
          transition: 0.8s;
          bottom: 10%;
        }
      }
    }
    a:hover {
      span:after {
        width: 0%;
      }
    }
    i {
      margin-top: 5%;
      font-size: 4em;
      padding: 4%;
    }
  }
}
//! portfolio
.portfolio {
  margin-top: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // overflow-x: hidden;
  position: relative;
  @media (min-width: 1000px) {
    display: none;
  }
  h1 {
    text-transform: uppercase;
    font-size: 18vw;
    font-size: 15vw;
    position: absolute;
    position: sticky;
    z-index: -1;
    opacity: 0.1;
    opacity: 0.8;
    -webkit-text-fill-color: $bg_color;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $text-color;
    top: -5%;
    right: 0%;
    letter-spacing: -5px;
    font-family: $font-title, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10%;
    &:after {
      content: "";
      position: absolute;
      left: -50%;
      bottom: 10%;
      width: 200%;
      height: 20%;
      background-color: rgb(94, 6, 6);
      z-index: -1;
    }
  }
  div {
    height: 60vh;
    margin-bottom: 35%;
    @media (max-width: 1200px) {
      height: 50vh;
    }
    @media (max-width: 1200px) {
      height: auto;
      width: 80%;
    }
    img {
      height: 100%;
      transition: ease-in-out;
      @media (max-width: 1200px) {
        height: auto;
        width: 100%;
      }
    }
    h2 {
      font-size: 2vw;
      text-transform: uppercase;
      letter-spacing: 7px;
      font-family: $font-title, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  .impair {
    margin-left: -20vw;
    @media (max-width: 1200px) {
      margin-left: 0vw;
    }
  }
  .pair {
    margin-left: 20vw;
    @media (max-width: 1200px) {
      margin-left: 0vw;
    }
    h2 {
      text-align: end;
    }
  }
}

// .portfolio {
//   margin-top: 50vh;
//   height: 100vh;
//   display: flex;
//   flex-wrap: nowrap;
//   justify-content: flex-start;
//   align-items: center;
//   // overflow-x: hidden;
//   position: relative;
//   h1 {
//     text-transform: uppercase;
//     font-size: 15vw;
//     position: absolute;
//     z-index: -1;
//     opacity: 0.1;
//     -webkit-text-fill-color: $bg_color;
//     -webkit-text-stroke-width: 1px;
//     -webkit-text-stroke-color: $text-color;
//     top: -5%;
//     left: -4%;
//     letter-spacing: -5px;
//     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//   }
//   div {
//     height: 60vh;
//     margin-left: 10%;
//     img {
//       height: 100%;
//     }
//     h2 {
//       font-size: 1.5vw;
//       text-transform: uppercase;
//       font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//       letter-spacing: 5px;
//     }
//   }
// }

//! PORTFOLIO 2.0
.portfolio_projects {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 90%;
  position: relative;
  margin-top: 15%;
  @media (max-width: 1000px) {
    display: none;
  }
  .description {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50%;
    z-index: -1;
    pointer-events: none;
    h1 {
      position: relative;
      text-transform: uppercase;
      font-size: 10vw;
      opacity: 0.8;
      -webkit-text-fill-color: $bg_color;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $text-color;

      letter-spacing: -5px;
      font-family: "Times New Roman", Times, serif;
      margin-bottom: 10%;
    }
    div {
      width: 80%;
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
      filter: blur(10px);
      // opacity: 0;

      &.animated {
        animation: blur 0.4s ease-in;
        animation-fill-mode: forwards;
        @keyframes blur {
          from {
            filter: blur(15px);
          }
          to {
            filter: blur(0px);
          }
        }
      }
      p {
        font-size: 2em;
      }
    }
  }
  .projects_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 50%;
    div {
      width: 100%;
      margin-bottom: 20%;
      img {
        width: 100%;
      }
      h2 {
        font-size: 1.6em;
        text-transform: uppercase;
        letter-spacing: 7px;
        text-align: end;
        font-family: $font-title, "Segoe UI", Tahoma, Geneva, Verdana,
          sans-serif;
      }
    }
  }
}

//! contact
.contact {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 740px) {
      &:nth-child(2) {
        span:nth-child(2) {
          display: block;
        }
      }
    }

    a {
      width: 100%;
      text-align: center;
    }
  }
  div:hover {
    span {
      &:nth-child(2) {
        &:after {
          width: 101%;
        }
      }
    }
  }
  span {
    font-size: 5vw;
    font-size: 5em;
    z-index: -1;
    opacity: 0.1;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $text-color;
    top: -5%;
    left: -4%;
    letter-spacing: -5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    opacity: 1;
    font-weight: bold;
    margin: 0;
    @media (max-width: 1000px) {
      font-size: 7vw;
    }
    @media (max-width: 740px) {
      letter-spacing: 1px;
    }
    &:first-child {
      -webkit-text-fill-color: $text-color;
      text-transform: uppercase;
    }
    &:nth-child(2) {
      position: relative;
      margin-left: 5%;
      &:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 20%;
        background-color: $second_color;
        left: 0;
        transition: 0.8s;
        bottom: 10%;
        border-radius: 2px;
      }
    }
  }
  .github_icon {
    a {
      width: auto;
      i {
        font-size: 6em;
        transition: 0.5s;
        color: $text-color;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

//! a propos
.a_propos {
  width: 100%;
  div {
    width: 60%;
    width: 100%;
    // margin-left: 50%;
    // transform: translateX(-50%);
    margin-bottom: 10%;
    margin-top: 10%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(20%);
      width: 50vw;
      height: 50vw;
      border-radius: 50%;
      background: rgba(255, 0, 0, 0.116);
      z-index: -1;
      @media (max-width: 500px) {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(50%) translateY(-40%);
      width: 100vw;
      height: 20vw;
      background: rgba(255, 0, 0, 0.116);
      z-index: -1;
      @media (max-width: 500px) {
        display: none;
      }
    }
    p {
      font-size: 3vw;
      font-size: 2.6vw;
      line-height: 110%;
      letter-spacing: 3px;
      font-family: "Times New Roman", Times, serif;
      // font-weight: bold;
      text-align: center;
      text-align: left;
      width: 75%;
      margin-left: 8%;
      margin-top: 1%;

      @media (max-width: 500px) {
        font-size: 4vw;
        line-height: 140%;
      }
    }
  }
}

//! pages du portfolio
.page_restaurant {
  width: 100vw;
  height: 150vh;
  position: absolute;
  top: 0;
  left: 0;
  // margin-top: -12%;
  .cursor {
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 0%;
    background: transparent;
    background: #00000000;
    border-radius: 100%;
    pointer-events: none;
    transition: 0.2s linear;
    backdrop-filter: hue-rotate(120deg);
    backdrop-filter: invert(80%);
    border: 1px solid $text-color;
  }
  // .imageNextProject_container {
  //   width: 400px;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   z-index: 2;
  //   transition: 0.1s;
  //   pointer-events: none;
  //   overflow: visible;
  //   img {
  //     width: 100%;
  //     transform: translateX(-50%);
  //     pointer-events: none;
  //   }
  // }
  .home {
    position: fixed;
    top: 4%;
    // right: 2%;
    left: 4%;
    font-size: 1.5em;
    letter-spacing: 4px;
    font-family: $font-title;
    background: transparent;
    transition: 0.3s;
    opacity: 0.8;
    color: rgb(158, 0, 0);
    font-weight: bold;
    z-index: 5;
    width: 4vw;
    min-width: 50px;
    animation: f_logo 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    @keyframes f_logo {
      0% {
        opacity: 0;
        transform: translateY(-100%);
      }
      100% {
        opacity: 0.8;
        transform: translateX(0%);
      }
    }
    img {
      width: 100%;
    }
    &:hover {
      opacity: 1;
    }
  }
  img {
    transform: scale(1.03) translateX(60px);
    transition: ease-in-out;
    &:first-child {
      transform: scale(1.03) translateX(0px);
    }
  }
  div {
    overflow: hidden;
    border-radius: 1px;
  }
  .name {
    width: 100%;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 7%;
    // h2 {
    //   font-family: "Times New Roman", Cambria, Cochin, Georgia, Times, serif;
    //   font-weight: normal;
    //   line-height: 85%;
    // }
    span {
      display: inline-block;
      position: relative;
      font-size: 10vw;
      margin-right: 2%;
      animation: span_apparition 1.7s;
      animation-fill-mode: backwards;
      @media (max-width: 500px) {
        font-size: 15vw;
      }

      @keyframes span_apparition {
        0% {
          transform: translateY(100%);
          // transform: rotateX(180deg) translateY(100%);
        }
        30% {
          transform: rotateX(180deg) translateY(100%);
        }
        100% {
          transform: translateY(0%);
        }
      }
    }
    span:last-child {
      margin-right: 0%;
    }
    @for $i from 1 through 14 {
      .span-#{$i} {
        // transform: translateY(50% * ($i/4));
        animation-delay: 100ms + 120ms * $i;
      }
    }
  }
  .image_container {
    margin: auto;
    width: 80%;
    background: #000;
    position: relative;
    @media (max-width: 500px) {
      width: 100%;
    }

    &:after {
      position: absolute;
      content: "";
      width: 0%;
      height: 100%;
      background: $bg_color;
      top: 0;
      right: 0;
      animation: imageContainer 1.4s;
      animation-delay: 0.2s;
      transition: 1s ease-in-out;
      animation-fill-mode: backwards;
      animation-delay: 0.8s;
      @keyframes imageContainer {
        0% {
          width: 100%;
        }
        100% {
          width: 0%;
        }
      }
    }
    img {
      width: 100%;
      animation: imageScale 1.7s;
      animation-fill-mode: backwards;
      animation-delay: 0.4s;
      @keyframes imageScale {
        0% {
          transform: scale(1.35);
        }
        100% {
          transform: scale(1.03);
        }
      }
    }
  }
  .description {
    padding-top: 4%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 2vw;
    line-height: 140%;
    letter-spacing: 1px;
    text-align: center;
    @media (max-width: 500px) {
      font-size: 1.3em;
      padding-left: 10%;
      padding-right: 10%;
    }
    i {
      font-size: 2em;
      padding: 2%;
      margin-top: 5%;
      &.i-logo_image {
        padding: 4%;
        position: relative;
        margin-left: 5px;
        img {
          width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          filter: contrast(500%);
        }
      }
    }
    a {
      display: block;
      font-style: italic;
      margin-left: 70%;

      @media (max-width: 500px) {
        margin-left: 50%;
      }
      span {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 20%;
          background-color: $second_color;
          left: 0;
          transition: 0.8s;
          bottom: 10%;
        }
      }
      &.visit_site {
        margin-left: 2%;
        position: absolute;
        span:after {
          background-color: $third_color;
        }
      }
    }
    a:hover {
      span:after {
        width: 0%;
      }
    }
  }
  .image_page {
    margin-top: 17%;
    width: 50%;
    @media (max-width: 500px) {
      width: 80%;
    }
    img {
      width: 100%;
      transform: scale(1.01);
    }
  }
  .page1 {
    margin-left: 10%;
    @media (max-width: 500px) {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .page2 {
    margin-left: 40%;
    @media (max-width: 500px) {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .image1 {
    width: 60%;
    @media (max-width: 500px) {
      width: 80%;
    }
  }
  .image2 {
    width: 60%;
    margin-left: 30%;
    @media (max-width: 500px) {
      width: 80%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    div {
      width: 20%;
      border-radius: 15px;
    }
  }

  // page portfolio
  // .image_container.pagePortF {
  //   // box-shadow: 0px 0px 5px 1px #ffffff62;
  //   // background-image: url("photos/portfolio_home.jpg");

  //   // background-color: rgba(43, 20, 20, 0.616);
  //   // background-blend-mode: screen;
  //   // background-size: cover;
  // }
  .pagePortoflio {
    filter: contrast(105%);
  }
}

//! MENU
.button_menu {
  background: none;
  color: $text-color;
  font-size: 1.5em;
  border: none;
  position: fixed;
  right: 5%;
  top: 5%;
  z-index: 9;
  &:focus {
    outline: none;
  }
}
.mouse {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 40px;
  height: 70px;
  border: 1px solid $text-color;
  border-radius: 50px !important;
  opacity: 0.3;
  pointer-events: none;
  @media (max-width: 850px) {
    display: none;
  }
  .scroll_down {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: $text-color;
    border-radius: 100% !important;
    animation: scroll_down 2s infinite;
  }
}

@keyframes scroll_down {
  from {
    opacity: 1;
  }
  to {
    top: 60%;
    opacity: 0;
  }
}
.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
  font-size: 2em;
  .menu_background {
    background: white;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .menu_container {
    overflow: scroll;
    position: relative;
    z-index: 1;
    background: $bg_color;
    height: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
    .ImageBackground {
      width: 100%;
      height: 100%;
      background: red;
      left: 0;
      top: 0;
      position: fixed;
      pointer-events: none;
      z-index: -1;
      filter: grayscale(10);
      opacity: 0;
      background-size: cover;
      background-repeat: no-repeat;
      animation: image_mouv 30s infinite;
    }
    @keyframes image_mouv {
      0% {
        background-position: 0% 0%;
      }
      25% {
        background-position: 40% 10%;
      }
      50% {
        background-position: 0% 10%;
      }
      75% {
        background-position: 10% 40%;
      }
      100% {
        background-position: 0% 0%;
      }
    }
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // gap: 5%;
    .links_container {
      width: 100%;
      height: 200%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10%;
      @media (max-width: 850px) {
        align-items: center;
      }
      span {
        position: relative;

        margin: 5%;
        margin-left: 10%;
        // display: block;
        font-size: 2.5em;
        text-transform: uppercase;
        letter-spacing: 7px;
        font-family: $font-title, "Segoe UI", Tahoma, Geneva, Verdana,
          sans-serif;
        transition: 0.3s;
        // text-align: center;
        padding-bottom: 3%;
        padding-top: 3%;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $text-color;
        &::after {
          content: "";
          position: absolute;
          bottom: 30%;
          left: 0;
          width: 0%;
          height: 10%;
          background: $second_color;
          opacity: 0.6;
          transition: 0.6s;
        }
        &.active,
        &:hover {
          &::after {
            width: 100%;
            transition: 1s;
          }
        }
        // &:hover {
        //   letter-spacing: 10px;
        //   // margin-left: 12%;
        //   -webkit-text-fill-color: $second_color;
        //   -webkit-text-stroke-color: $second_color;
        // }
        @media (max-width: 850px) {
          // text-align: center;
          margin-left: 0;
          font-size: 8vw;
          margin: 0;
          &:hover {
            letter-spacing: 7px;
          }
        }
      }
    }
  }
}

//! GALLERY design page

.gallery {
  width: 95%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15%;
  .image_container {
    width: 60%;
    margin-bottom: 15%;
    overflow: hidden;
    &:nth-child(2n + 1) {
      margin-left: 5%;
    }
    &:nth-child(2n) {
      margin-right: 5%;
    }

    img {
      width: 100%;
      transition: 0.8s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

//! NEXT PROJECT

.next_project {
  position: relative;
  margin-top: 10%;
  border-top: 1px solid $text-color;

  &::before {
    content: "";
    position: absolute;
    top: -3.1vw;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: $bg_color;
    width: 6vw;
    height: 6vw;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 1px;
    pointer-events: none;
    z-index: 1;
  }
  span {
    font-size: 1.3vw;
    font-style: italic;
    // margin-left: 1%;
    // margin-top: 3%;
    // display: inline-block;
    position: absolute;
    top: -10%;
    left: 1%;
    @media (max-width: 640px) {
      font-size: 1em;
      top: -20px;
    }
  }
  h1 {
    width: 100%;
    text-align: center;
    // margin-top: 10%;
    // margin-bottom: 15%;
    padding-top: 8%;
    padding-bottom: 6%;
    font-size: 10vw;
    font-family: "Times New Roman", Cambria, Cochin, Georgia, Times, serif;
    font-weight: normal;
    letter-spacing: 25px;
    @media (max-width: 640px) {
      font-size: 6vw;
    }
    @media (max-width: 500px) {
      letter-spacing: 15px;
      padding-top: 15%;
      padding-bottom: 12%;
    }
  }
  .img_container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    img {
      width: 100%;
      z-index: -2;
      opacity: 0.05;
      filter: grayscale(10);
      transition: 1s;
      transform: translateY(0%) scale(1.1);
    }
  }

  &:hover {
    img {
      opacity: 0.1;
      transform: translateY(-5%) scale(1.1);
    }
  }
}
img {
  transition: 0.5s ease;
}

// .App {
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   overflow: hidden;
//   pointer-events: none;
//   .scroll {
//     padding: 2vh 0;
//     pointer-events: none;
//     z-index: -9;
//   }
//   z-index: -9;
// }

//! icons hover

.description {
  .fa-figma {
    transition: 0.5s;
    position: relative;
    margin-top: 3%;
    &:hover {
      color: $second_color;
      &::after {
        content: "figma";
        opacity: 1;
        color: $text-color;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.4em;
        font-style: italic;
      }
    }
  }
}
